<div class="container ">
    <div class="row d-flex justify-content-center">
  
      <div class="card text-white bg-info m-3" style="max-width: 18rem;" *ngFor="let turno of turnosAceptados"
        [ngClass]="{'bg-info': turno.estado=='pendiente','bg-danger': turno.estado == 'cancelado','bg-success': turno.estado == 'aceptado'}">
        <div class="card-header text-center"><span class="font-weight-bold">Paciente: </span>{{turno.paciente}}</div>
        <div class="card-body">
          <p class="card-text"><span class="font-weight-bold">Estado: </span>{{turno.estado}}</p>
          <p class="card-text"><span class="font-weight-bold">Especialista: </span>{{turno.especialista}}</p>
          <p class="card-text"><span class="font-weight-bold">Especialidad: </span>{{turno.especialidad}}</p>
          <p class="card-text"><span class="font-weight-bold">Fecha: </span>{{turno.fecha}} {{turno.hora}}</p>
  
          <div class="form-group m-3">
            <button type="button" class="btn btn-light mr-1" (click)="open(content)">Atender</button>
            <button type="button" class="btn btn-light ml-1" [disabled]="turno.estado == 'cancelado'">Cancelar</button>
          </div>
  
        </div>
  
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Atender paciente</h4>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
                <div class="form-group">
                  <label for="exampleFormControlInput1">Email address</label>
                  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
                </div>
                <div class="form-group">
                  <label for="exampleFormControlSelect1">Example select</label>
                  <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Example textarea</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
              </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-success" (click)="modal.dismiss()">Finalizar turno</button>
          </div>
        </ng-template>
  
      </div>
  
    </div>
  
  
  