.registro {
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.75);
    background-color:#262787;
    color: whitesmoke;
    border-radius: 5px;
    min-width: 300px;
  
    a {
      text-decoration: none;
      color: whitesmoke;
  
      &:hover {
        color: rgb(150, 150, 150);
        cursor: pointer;
      }
    }
    img{
        width: 100px;
        height: 100px;
        margin-top: 5%;
    }
  }

  .espec{
    background-color: grey;
    padding: 10px;
    border-radius: 20px;
  }