<div class="container">
  <form>
    <div class="form-group">
      <label for="especialidad">Especialidad</label>
      <select class="form-control" id="especialidad" [(ngModel)]="especialidadSeleccionada" name="especialidad" (change)="traerListadoProfesionales(especialidadSeleccionada)">
        <option [ngValue]="null" [disabled]="true" >Seleccione especialidad</option>
        <option value={{especialidad.nombre}} *ngFor="let especialidad of listaEspecialidades">{{especialidad.nombre}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="especialidadSeleccionada != null">
      <label for="doctor">Doctor</label>
      <select class="form-control" id="doctor" [(ngModel)]="profesionalSeleccionado" name="doctor" >
        <option [ngValue]="null" [disabled]="true" >Seleccione un profesional</option>
        <option value={{profesional.email}} *ngFor="let profesional of profesionalesAElegir">{{profesional.nombre}} {{profesional.apellido}}</option>
      </select>
    </div>

    <div class="form-group row">
      <div class="mx-5 col">
        <label >Fecha</label>
        <br>
        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" ></ngb-datepicker>
      </div>
      
      <div class="mx-5 col">
        <label>Horario</label>
        <ngb-timepicker  name="time" [(ngModel)]="time" [hourStep]="hourStep" [minuteStep]="minuteStep"></ngb-timepicker>
      </div>
      
    </div>


    <!-- <div class="form-group">
      <label for="comentario">Comentario (opcional)</label>
      <textarea class="form-control" id="comentario" rows="3"></textarea>
    </div> -->

    <button type="button" class="btn btn-success btn-lg">Pedir turno</button>
  </form>
</div>
