<div class="container-fluid mt-5">
    <div class="row">
      <div class="col-4">
        <h3 class="font-weight-bold mb-3">Especialidades</h3>
        <app-lista-especialidad (seleccionarEspecialidadEvent)="traerEspecialidadSeleccionada($event)"></app-lista-especialidad>

        <!-- <p>{{especialidadSeleccionada}}</p> -->
      </div>
      

      <div class="col-4" *ngIf="especialidadSeleccionada">
        <h3 class="font-weight-bold mb-3">Profesionales</h3>
        <app-lista-profesionales [especialidadSeleccionadaInput]="especialidadSeleccionada"
        (seleccionarProfesionalEvent)="traerProfesionalSeleccionado($event)"></app-lista-profesionales>

        <!-- <p>{{profesionalSeleccionado}}</p> -->
      </div>

      <div class="col-4" *ngIf="profesionalSeleccionado">
        <h3 class="font-weight-bold mb-3">Turnos</h3>
        <app-lista-turnos [profesionalSeleccionadoInput]="profesionalSeleccionado" 
        (seleccionarTurnoEvent)="traerTurnoSeleccionado($event)"></app-lista-turnos>

        <!-- <p>{{turnoSeleccionado}}</p> -->
      </div>
      
    </div>

    <button type="button" class="btn btn-success btn-lg mt-3" (click)="agregarTurno()">Pedir turno</button>
  
</div>
