<div class="container ">
    <div class="row d-flex justify-content-center">
      <!--[ngClass]="{'bg-info': turno.estado=='pendiente','bg-danger': turno.estado == 'cancelado', 'bg-success': turno.estado == 'completado'}"  -->
      <h3 class="mt-5" *ngIf="historialTurnos.length == 0">No hay turnos en el historial</h3>
  
      <div class="card text-white m-3" style="max-width: 18rem;" *ngFor="let turno of historialTurnos"  [EstadoColor]=turno.estado>
        <div class="card-header text-center"><span class="font-weight-bold">Paciente: </span>{{turno.paciente}}</div>
        <div class="card-body">
          <p class="card-text"><span class="font-weight-bold">Estado: </span>{{turno.estado | primeraLetraUppercase}}</p>
          <p class="card-text"><span class="font-weight-bold">Especialidad: </span>{{turno.especialidad}}</p>
          <p class="card-text"><span class="font-weight-bold">Fecha atendido: </span>{{turno.fecha}} </p>
          <p class="card-text"><span class="font-weight-bold">Reseña: </span>{{turno.resenia}}</p>
  
          <div class="form-group m-3 d-flex justify-content-center">
            <button type="button" class="btn btn-light mr-1" (click)="open(content)" [disabled]="!turno.comentario">Detalles</button>
            <!-- <button type="button" class="btn btn-light ml-1" [disabled]="turno.estado == 'cancelado'" (click)="cancelar(turno.fecha)">Cancelar</button> -->
          </div>
  
        </div>
  
        <ng-template #content let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Detalles turno</h4>
            <button type="button" class="close" (click)="modal.dismiss('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

              <p class="form-control mt-3" *ngIf="turno.edad"><span class="font-weight-bold">Edad: </span>{{turno.edad}}</p>
              <p class="form-control mt-3" *ngIf="turno.temperatura"><span class="font-weight-bold">Temperatura: </span>{{turno.temperatura}}</p>
              <p class="form-control mt-3" *ngIf="turno.presion"><span class="font-weight-bold">Presion: </span>{{turno.presion}}</p>

              <p class="form-control mt-3" *ngIf="turno.campoExtraUno"><span class="font-weight-bold">{{turno.campoExtraUno | primeraLetraUppercase}}: </span>{{turno.datoExtraUno}}</p>
              <p class="form-control mt-3" *ngIf="turno.campoExtraDos"><span class="font-weight-bold">{{turno.campoExtraDos | primeraLetraUppercase}}: </span>{{turno.datoExtraDos}}</p>
              <p class="form-control mt-3" *ngIf="turno.campoExtraTres"><span class="font-weight-bold">{{turno.campoExtraTres | primeraLetraUppercase}}: </span>{{turno.datoExtraTres}}</p>
              <h3>Comentario paciente:</h3>
              <p>{{turno.comentario | primeraLetraUppercase}}</p>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-outline-success" (click)="modal.dismiss()">Cerrar</button>
          </div>

        </ng-template>
  
      </div>
  
    </div>
</div>