<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Especialidad</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      
      <p *ngIf="profesionalesSinHabilitar.length == 0" class="text-center font-weight-bold">No hay profesional pendientes de habilitacion</p>
      
      <tr *ngFor="let profesional of profesionalesSinHabilitar">
        <td>
          {{ profesional.nombre }} {{profesional.apellido}}
        </td>
        <td>{{ profesional.especialidades  }}</td>
        <td><button type="button" class="btn btn-success" (click)="habilitarProfesional(profesional.email)">Aceptar</button></td>
      </tr>

      
    </tbody>
  </table>
</div>
